*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.7rem;
  position: relative;
}

h2 {
  font-size: 4rem;
  color: hsl(300, 43%, 22%);
  text-align: center;
  margin-bottom: 2rem;
}

h4 {
  font-size: 1.9rem;
  color: hsl(300, 43%, 22%);
}

p {
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 3rem;
  }
}

.section {
  padding: 3rem 4rem;
}

.box {
  background: hsl(300, 24%, 96%);
  padding: 1.5rem 3rem;
  border-radius: 20px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  margin-bottom: 2rem;
}

.fstar {
  margin-bottom: 1rem;
}

.fstar > img {
  margin-right: 0.5rem;
}

.card {
  background: hsl(300, 43%, 22%);
  border-radius: 20px;
  padding: 4rem 5rem;
  width: 90%;
  max-width: 500px;
  margin-bottom: 2rem;
}

.card p,
.card h4 {
  color: hsl(0, 0%, 100%);
}

.card p {
  text-align: left;
}

.header {
  display: flex;
  gap: 3rem;
  margin-bottom: 3rem;
}

.header p {
  color: hsl(333, 80%, 67%);
  opacity: 0.6;
  line-height: 1.2;
}

.img {
  border-radius: 100%;
  width: 46px;
  height: 46px;
}

.grid_content {
  margin-bottom: 3rem;
  display: grid;
  justify-items: center;
}

.grid_content2 {
  margin-bottom: 3rem;
  display: grid;
  justify-items: center;
}

.grid {
  display: grid;
}

@media screen and (min-width: 1440px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .box2 {
    margin-left: 9rem;
  }

  .box3 {
    margin-left: 18rem;
  }

  .grid_content2 {
    grid-template-columns: repeat(3, 1fr);
  }

  .card2 {
    transform: translateY(7rem);
  }

  .card3 {
    transform: translateY(14rem);
  }
}
